In [3]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [4]:
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)

In [5]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [6]:
tesla=yf.Ticker('TSLA')

In [7]:
tesla_data=tesla.history(period='max')

In [8]:
tesla_data.reset_index(inplace=True)

In [9]:
url=' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'

html_data=requests.get(url).text

In [11]:
soup=BeautifulSoup(html_data,'html.parser')

In [12]:
tesla_tables=soup.find_all('table')

In [37]:
for index, table in enumerate(tesla_tables):
    if 'Tesla Quarterly Revenue' in str(table):
        table_index=index

In [28]:
tesla_revenue=pd.DataFrame(columns=['Date','Revenue'])

In [46]:
for row in tesla_tables[table_index].tbody.find_all('tr'):
    cols=row.find_all('td')
    date=cols[0].text.strip()
    rev=cols[1].text
    tesla_revenue=tesla_revenue._append({"Date":date,"Revenue":rev},ignore_index=True)

In [48]:
tesla_revenue['Revenue']=tesla_revenue['Revenue'].str.replace(',|\$',"")

In [49]:
tesla_revenue.head()

         Date Revenue
0  2022-09-30  21,454
1  2022-06-30  16,934
2  2022-03-31  18,756
3  2021-12-31  17,719
4  2021-09-30  13,757

In [50]:
tesla_revenue.dropna(inplace=True)
tesla_revenue=tesla_revenue[tesla_revenue['Revenue']!=""]

In [51]:
tesla_revenue.head()

         Date Revenue
0  2022-09-30  21,454
1  2022-06-30  16,934
2  2022-03-31  18,756
3  2021-12-31  17,719
4  2021-09-30  13,757

In [74]:
url2='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data_2=requests.get(url2).text

In [75]:
soup2=BeautifulSoup(html_data_2,'html.parser')

In [76]:
gs_tables=soup2.find_all('table')

In [77]:
gme_revenue=pd.DataFrame(columns=['Date', 'Revenue'])
for index, table in enumerate(gs_tables):
    if "GameStop Quarterly Revenue" in str(table):
        table_index=index

In [78]:
for row in gs_tables[table_index].tbody.find_all('tr'):
    cols=row.find_all('td')
    date=cols[0].text
    rev=cols[1].text
    gme_revenue=gme_revenue._append({'Date':date,'Revenue':rev},ignore_index=True)

In [79]:
gme_revenue['Revenue']=gme_revenue['Revenue'].str.replace(',|\$',"")
gme_revenue.dropna(inplace=True)
gme_revenue=gme_revenue[gme_revenue['Revenue']!=""]

In [80]:
gme_revenue.tail()

          Date Revenue
57  2006-01-31  $1,667
58  2005-10-31    $534
59  2005-07-31    $416
60  2005-04-30    $475
61  2005-01-31    $709

In [82]:
make_graph(tesla_data,tesla_revenue,"Tesla")

ValueError: could not convert string to float: '10,389'